body {
    background-color: #eee;
}

table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
}

/*nth-child :sive para seleccionar filas pares o impares con even y con odd*/
tr:nth-child(even) {         
    background-color: #f2f2f2;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
}


table th {
    background-color: #008666;
    color: white;
    text-align: left;
    padding-top: 12px;
    padding-left: 8px;
    padding-bottom: 12px;
}